[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip"]

[phases.install]
cmds = [
    "cd frontend && npm install --legacy-peer-deps",
    "cd frontend && pip install --break-system-packages -r requirements.txt"
]

[phases.build]
cmds = ["cd frontend && NODE_OPTIONS='--max-old-space-size=4096' npm run build"]

[start]
cmd = "cd frontend && npm start"
